<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Local Desktop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
      ::selection {
        background-color: rgba(144, 238, 144, 0.5);
      }
    </style>
  </head>

  <body style="margin: 0">
    <div
      style="display: flex; flex-direction: column; height: 100vh; width: 100vw"
    >
      <div style="flex: 1; position: relative">
        <iframe
          sandbox="allow-same-origin allow-popups allow-top-navigation-by-user-activation"
          src="https://localdesktop.github.io/docs/user/getting-started"
          style="border: none; width: 100%; height: 100%"
        ></iframe>
        <div
          v-if="showFullLog"
          style="
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            background-color: rgba(30, 30, 30);
            color: white;
            font-family: monospace;
            padding: 10px;
            z-index: 1;
            display: flex;
            flex-direction: column-reverse; /* Reverse the order of logs */
          "
        >
          <div
            v-for="log in logs"
            :key="log.id"
            :style="{
              display: 'flex',
              flex: 'none',
              marginBottom: '5px',
              color: log.isError ? '#ff0000' : 'white'
            }"
          >
            <div
              style="
                color: gray;
                font-weight: bold;
                margin-right: 10px;
                flex-shrink: 0;
              "
            >
              {{ new Date(log.timestamp).toLocaleTimeString() }}
            </div>
            <!-- Prettier may append line breaks/indents before and after the message. And white-space: pre-wrap will show all these line breaks/indents to the user. So we must turn it off for the next line -->
            <!-- prettier-ignore -->
            <div style="flex: 1; white-space: pre-wrap">{{ log.message }}</div>
          </div>
        </div>
      </div>
      <div
        @click="toggleView"
        style="
          position: relative;
          flex: none;
          padding: 10px;
          background-color: black;
          font-family: monospace;
          display: flex;
          justify-content: space-between;
          color: white;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          user-select: none;
        "
      >
        <div
          :style="{
            position: 'absolute',
            top: 0,
            left: 0,
            height: '100%',
            width: progress + '%',
            backgroundColor: progressBarColor,
            zIndex: 0
          }"
        ></div>
        <span
          style="
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            z-index: 1;
            padding-right: 12px;
          "
        >
          {{ message }}
        </span>
        <span style="flex: none; position: relative; z-index: 1"
          ><span>{{ progress }}</span>%
        </span>
      </div>
    </div>

    <script>
      new Vue({
        el: "body > div",
        data() {
          return {
            showFullLog: false,
            progress: 0,
            logs: [],
            logCounter: 0,
            hasError: false,
          };
        },
        computed: {
          message() {
            return this.logs.length > 0
              ? this.logs[0].message
              : "Installing...";
          },
          progressBarColor() {
            return this.hasError ? "#ff0000" : "#006400";
          },
        },
        methods: {
          toggleView() {
            this.showFullLog = !this.showFullLog;
          },
          handleWebSocketMessage(data) {
            this.progress = data.progress;

            const isError = data.isError || false;
            this.hasError = isError;

            if (this.progress === 100 && !this.hasError) {
              alert("Installation finished, please restart the app!");
            }

            this.logs.unshift({
              id: this.logCounter++,
              timestamp: Date.now(),
              message: data.message,
              isError: isError,
            });
            if (this.logs.length > 100) {
              this.logs.pop();
            }
          },
        },
        mounted() {
          const params = new URLSearchParams(window.location.search);
          const port = params.get("port");
          const ws = new WebSocket(`ws://127.0.0.1:${port}`, "rust-websocket");

          ws.onopen = () => {
            console.log("WebSocket connection established");
          };

          ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            this.handleWebSocketMessage(data);
          };

          ws.onclose = () => {
            console.log("WebSocket connection closed");
          };

          ws.onerror = (error) => {
            console.error("WebSocket error:", error);
          };
        },
      });
    </script>
  </body>
</html>
